<template name="mainSidebar">
  <aside id="mainSidebar" style="{{getLeft}} {{getNorthRule}}" class="{{isVisible}} helveticas">
    <ul>
      <li target="introductionSection" class="large">Introduction</li>
        <!-- <li target="fdaTitle" class="small">FDA Title 21</li>
        <li target="validationVsVerification" class="small">Validation vs Verification</li>
        <li target="testingModes" class="small">Testing Modes</li> -->

      <!-- <li target="quickstartSection" class="large">Quickstart</li>
        <li target="supportedFrameworks" class="small">Supported Frameworks</li>
        <li target="meteorNightwatchJson" class="small">.meteor/nightwatch.json</li> -->



    </ul>
  </aside>
</template>
