<template name="navbarFooter">
  <footer id="navbarFooter" style="{{getOpacity}}">
    {{#if isLoggedIn}}
      <button id="newBtn">New Questionairre</button>
      <button id="newCollaborationBtn">New Collaboration</button>
    {{/if}}
    <!-- <button id="overlayBtn">Overlay</button> -->
    <button id="keybindingsBtn">Keybindings</button>
    <button id="userPickListBtn">User Picklist</button>

    <div class="eastLinks">
      <!-- <button id="scrollTopBtn">Top</button>
      <button id="scrollBottomBtn">Bottom</button> -->
      <!-- <button id="initializeBtn">Initialize</button>
      <button id="dropBtn">Drop</button> -->
    </div>
  </footer>
</template>
