<template name="navbarFooter">
  <footer id="navbarFooter">
    <button id="homeBtn">Homepage</button>
    <button id="listBtn">List</button>
    <button id="imageGridBtn">Image Grid</button>
    <button id="tableBtn">Table</button>
    <button id="newBtn">New</button>

    <div class="eastLinks">
      <button id="scrollTopBtn">Top</button>
      <button id="scrollBottomBtn">Bottom</button>
      <button id="initializeBtn">Initialize</button>
      <button id="dropBtn">Drop</button>
    </div>
    <!-- <button id="editBtn">Edit</button>
    <button id="upsertBtn">Upsert</button>
    <button id="deleteBtn">Delete</button> -->
  </footer>
</template>
