<template name="userProfile">
  <aside id="userProfile">
    <label for="avatarImgSrcInput" class="form-label">Avatar Image (Url)</label>
    <input id="avatarImgSrcInput" type="text" name="avatarImgSrc" value="{{getAvatarImgSrc}}" placeholder="http://somewhere.com/avatar.jpg">

    <!-- <label for="initializeBtn" class="form-label">Database Initialization</label><br>
    <button id="initializeBtn" class="booleanButton">Initialize</button>
    <button id="dropBtn" class="booleanButton">Drop</button> -->
  </aside>
</template>
