<template name="menuPage">
  <div id="menuPage" class="helveticas padded page" style="{{getOpacity}}">


    <div id="menuItems">
      <div id="collaborationsTile" class="menuItem">
        <h4 class="white">COLLABORATIONS</h4>
        <hr>
      </div>

      <div id="questionairesTile" class="menuItem">
        <h4 class="white">QUESTIONAIRES</h4>
        <hr>
      </div>

      <div id="clinicalDataTile" class="menuItem">
        <h4 class="white">CLINICAL DATA</h4>
        <hr>
      </div>


    </div>
  </div>
</template>
